body{
    font-family: 'Tahoma',sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}

.todo-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

input{
    padding: 5px 10px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-attachment: #eee;
    padding: 5px;
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

li:hover{
    background: #ddd;
    cursor: pointer;
}

.todo-tools{
    margin: 5px;
} 

.update-btn{
    background: blue;
    color: #fff;
}

.remove-btn{
    background: red;
    color: #fff; 
}